<launch>
  <arg name="model" default="$(find beginner_tutorials)/urdf/simple_body4.urdf"/>
  <arg name="rvizconfig" default="$(find beginner_tutorials)/rviz/joint_display.rviz" />
  <arg name="length0" default="1.0" />

  <node name="joint_publisher" pkg="beginner_tutorials" type="joint_publisher"/>
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)  length:=$(arg length0) --inorder" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
</launch>

